In [56]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import pprint
from sklearn.svm  import SVR
from sklearn import linear_model 
from sklearn.linear_model import LinearRegression, Ridge,Lasso
from sklearn.preprocessing import PolynomialFeatures
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split

pd.options.display.max_columns = 150

# chargement et affichage des données

df_data = pd.read_csv("preparation_data.csv")

In [2]:
train_data.columns

Index(['price(thousand dollard)', 'm2_living', 'grade', 'm2_above',
       'bathrooms', 'view', 'm2_basement', 'bedrooms', 'zipcode_98004',
       'waterfront', 'floors', 'zipcode_98039', 'zipcode_98040',
       'zipcode_98112', 'zipcode_98006', 'zipcode_98033', 'zipcode_98168',
       'zipcode_98001', 'zipcode_98042', 'zipcode_98023'],
      dtype='object')

In [58]:
#1er etape definir les colonne de X et y pour pour marchine learning 

X=df_data[['m2_living', 'grade', 'm2_above',
       'bathrooms', 'view', 'm2_basement', 'bedrooms', 'zipcode_98004',
       'waterfront', 'floors', 'zipcode_98039', 'zipcode_98040',
       'zipcode_98112', 'zipcode_98006', 'zipcode_98033', 'zipcode_98168',
       'zipcode_98001', 'zipcode_98042', 'zipcode_98023']]
y =df_data['price(thousand dollard)']

In [59]:
#2er etape  sepatation des data en X_train,X_test,y_train,y_test  avec train_test_split
X_train,X_test,y_train,y_test = train_test_split(X, y, test_size=0.2)

,m2_living,grade,m2_above,bathrooms,view,m2_basement,bedrooms,zipcode_98004,waterfront,floors,zipcode_98039,zipcode_98040,zipcode_98112,zipcode_98006,zipcode_98033,zipcode_98168,zipcode_98001,zipcode_98042,zipcode_98023
2723,284.28318,10,284.28318,2.25,0,0.00000,5,0,0,2.0,0,0,0,1,0,0,0,0,0
10024,147.71577,7,147.71577,1.00,0,0.00000,3,0,0,1.0,0,0,0,0,0,0,0,0,0
2896,498.88911,10,357.67655,3.25,0,141.21256,5,1,0,2.0,0,0,0,0,0,0,0,0,0
12579,144.92868,7,144.92868,1.75,0,0.00000,3,0,0,2.0,0,0,0,0,0,0,0,0,0
21365,130.99323,8,130.99323,1.75,0,0.00000,3,0,0,2.0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15821,269.41870,8,213.67690,3.25,0,55.74180,6,0,0,2.0,0,0,0,0,0,0,0,0,0
16972,198.81242,8,198.81242,2.50,0,0.00000,3,0,0,2.0,0,0,0,0,0,0,0,0,0
12192,106.83845,7,106.83845,2.00,0,0.00000,1,0,0,1.0,0,0,0,0,0,0,1,0,0
21360,243.40586,8,243.40586,2.75,0,0.00000,4,0,0,2.0,0,0,0,0,0,0,0,0,0
4164,187.66406,8,112.41263,2.25,2,75.25143,4,0,0,1.0,0,0,0,0,0,0,0,0,0

In [64]:
trans=PolynomialFeatures(degree=2)
model=Lasso(alpha=0.1)
model.fit(X_train,y_train)
model.score(X_test,y_test)

/home/zhang/miniconda3/envs/sklearn-env/lib/python3.10/site-packages/sklearn/linear_model/_coordinate_descent.py:648: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 7.631e+07, tolerance: 2.186e+05
  model = cd_fast.enet_coordinate_descent(

0.7154844021518898

In [62]:
trans=PolynomialFeatures(degree=2)
model=Ridge(alpha=0.1)
model.fit(X_train,y_train)
model.score(X_test,y_test)

0.7159531186385454

In [63]:
trans=PolynomialFeatures(degree=2)
model=LinearRegression()
model.fit(X_train,y_train)
model.score(X_test,y_test)

0.7159725071150143